h1,
h2,
p {
    margin: 0;
    padding: 0;
    color: #dee2e6;
    font-family: "Playwrite NZ Basic";
    text-align: justify;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 70, 70);
}

.body-container {
    background-color: #161a1d;
}

.main-container {
    display: flex;
    justify-content: space-evenly;

}

.bottom-container {
    width: 65%;
    margin-bottom: 3rem;
}

.elements-container {
    background-color: #660708;
    margin: 25px;
    padding: 25px;

    .img-container {
        .img-elements {
            display: flex;
            justify-content: space-between;
            img {
                width: 45%;
                height: 175px;
                margin: 10px;

            }
        }
    }
}

.enlace-Automovilismo{
        color: #fdf0d5;
        text-decoration: none;
        font-weight: bold;  
    }

.enlace-Musica{
    color: #fdf0d5;
    text-decoration: none;
    font-weight: bold;  
}

.enlace-Peliculas{
    color: #fdf0d5;
    text-decoration: none;
    font-weight: bold;
}

.enlace-Videojuegos{
    color: #fdf0d5;
    text-decoration: none;
    font-weight: bold;
}

.main-container-ruts{
    display: flex;
    justify-content: center;
}

.ruts-top{
    width: 50%;
    height: 60px;
    margin-top:0rem;
}

.elements-container-ruts{
    display: flex;
    min-height: 50vh;

    .ruts-container{
         .menu-container{
            color: #660708;
            width: 180px;
            height: fit-content;
            margin-top: 85px;
            margin-left: 5px;
            padding:20px
        }

        .menu-container{
            background-color: #3d3d37;
        }

        .menu-container a:hover {
            color: #ffd60a
        }
    } 
}
  
.enlace-Automovilismo{
        color: #fdf0d5;
        text-decoration: none;
        font-weight: bold;  
    }

.enlace-Musica{
    color: #fdf0d5;
    text-decoration: none;
    font-weight: bold;  
}

.enlace-Peliculas{
    color: #fdf0d5;
    text-decoration: none;
    font-weight: bold;
}

.enlace-Videojuegos{
    color: #fdf0d5;
    text-decoration: none;
    font-weight: bold;
}