h1,
h2,
p {
    margin: 0;
    padding: 0;
    color: #dee2e6;
    font-family: "Playwrite NZ Basic";
    text-align: justify;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 70, 70);
}

.body-container {
    background-color: #161a1d;
}

.main-container {
    display: flex;
    justify-content: space-evenly;

}

.bottom-container {
    width: 65%;
    margin-bottom: 3rem;
}

.elements-container {
    background-color: #660708;
    margin: 25px;
    padding: 25px;

    .img-container {
        .img-elements {
            display: flex;
            justify-content: space-between;
            img {
                width: 45%;
                height: 175px;
                margin: 10px;

            }
        }
    }
}