h1,
h2,
p {
    margin: 0;
    padding: 0;
    color: #dee2e6;
    font-family: "Playwrite NZ Basic";
    text-align: justify;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 70, 70);
}

.body-container {
    background-color: #161a1d;
}

.main-container {
    display: flex;
    justify-content: space-evenly;

}

.top-container {
    width: 60%;
    margin-bottom: 3rem;
}

.bottom-container {
    width: 100%;
}

.elements-container {
    background-color: #660708;
    margin: 25px;
    padding: 25px;

    .img-container {
        .img-elements {
            display: flex;
            justify-content: space-between;
            img {
                width: 45%;
                height: 175px;
                margin: 10px;

            }
        }
    }

    .img-container-music{
        .img-music-elements{
            display: flex;
            justify-content: space-between;
            img{
                width: 45%;
                height: 360px;
                margin: 10px;

            }
        }

    }

    .img-container-pictur{
        .img-elements-pictur{
            display: flex;
            justify-content: space-between;
            img{
                width: 45%;
                height: 170px;
                margin: 10px;

            }
        }
    }

    .img-container-videogame{
        .img-elements-videogames{
            display: flex;
            justify-content: space-between;
            img{
                width: 40%;
                height: 170px;
                margin: 10px;

            }
        }
    }

    .text-container{
        padding: 20px;
        background-color: #6c757d;
        border-radius: 10px;
    }

    .text-container-music{
        padding: 20px;
        background-color: #6c757d;
        border-radius: 10px;
    }

    .text-container-picture{
        padding: 20px;
        background-color: #6c757d;
        border-radius: 10px;
    }

    .text-container-videogame{
        padding: 20px;
        background-color: #6c757d;
        border-radius: 10px;
    }

}