body,a {
    margin: 0;
    color: white;
    font-size: 20px;
    display: block;  /* ← 20px arriba/abajo, 15px izquierda/derecha */
    width: 100%;
}
.main-class{
    display: flex;
    header{
        min-height: 100vh;
        background-color: #423232;
        width: 15%;
    }
   
}

.body-container{
    background-color: cadetblue;
    min-width: 85%;
   
}





